@import "tailwindcss";


/* Local Font */
@font-face {
  font-family: "BricolageGrotesque";
  src: url("/fonts/BricolageGrotesque.ttf") format("truetype");
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Font mapping */
  --font-sans: "BricolageGrotesque";

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: white; 
  font-family: var(--font-sans);
}


.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
    margin-right: auto !important;
    margin-left: auto !important;
}

@media screen and (min-width: 0px) and (max-width: 750px) {

    .container-sm,
    .container {
        width: 100%;
        padding-right: 20px !important;
        padding-left: 20px !important;
        margin-right: auto !important;
        margin-left: auto !important;
    }

}

@media (min-width: 576px) {

    .container-sm,
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {

    .container-md,
    .container-sm,
    .container {
        max-width: 960px;

    }
}

@media (min-width: 992px) {

    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1000px;

    }
}

@media (min-width: 1200px) {

    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1128px;

    }
}

@media (min-width: 1400px) {

    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1300px;
    }
}

@media (min-width: 1600px) {

    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1300px;
    }
}



@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  animation: fadeUp 1s ease-out forwards;
}





@keyframes vertical-marquee {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animate-vertical-marquee {
  animation: vertical-marquee linear infinite;
}

.animate-vertical-marquee.reverse {
  animation-direction: reverse;
}
